# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
/cmake-build*
/build

# CLion
/.idea

# Visual Studio
/.vs
/out
CMakePresets.json
CMakeUserPresets.json

/.vscode

!wintun.dll